@import '../../../styles/_variables'

.container
    border-top: solid black 0.5px
    display flex
    padding 4px 0 1px 0
    justify-content: space-between
    cursor: pointer
    .open
        transform: rotate(45deg)
