@import '../../../styles/_variables'


.container
    width: 100vw
    position: fixed
    bottom: 0
    left: 0 
    flex-direction: column 
    z-index 80
    transition: transform 0.5s, opacity 0.1s 0.3s
    opacity 0
    transform translateY(calc(var(--index-height) + 15px))
    pointer-events: none
    small_font-alt()
    > .header
        margin-left: calc((100vw - max(25vw, 400px)) / 3 * 2)
        width: calc(max(25vw, 400px) + calc((100vw - max(25vw, 400px)) / 3))
        border-left 0.5px solid black
        background: var(--benj-yellow)
        display: flex
        flex-direction: column
        @media _small
            width: 100%
            margin: 0
            border 0
        .closingX
            margin-right 0.2rem
            padding: 0 0.4rem
            &:hover
                background-color: var(--benj-gray)
    &.active
        width: 100vw
        transition: transform 0.5s
        transform translateY(0)
        opacity 1
        pointer-events: auto
    > .header
        .headerIndex
            display flex
            padding-left 0.5rem
            padding-top: 0.2rem
            height calc(var(--height-footer) - 1rem)
            justify-content: space-between
            align-items: center
        .groups
            width: 100%
            display: flex
            flex-direction row
            height calc(var(--height-footer) - 1rem)
            .group
                padding 0rem 0.6rem
                padding-top: 0.3rem
                width: 33.3333%
                display: flex
                align-items: center
                &.active
                    background: white
            :hover
                background var(--benj-gray)
    .index
        overflow-x: scroll
        overflow-y: hidden
        overscroll-behavior: none
        background: white
        display: flex
        flex-direction: column 
        height: var(--index-height)
        padding-left px
        .group
            display: flex
            gap 0.3rem
            height: 100%
            padding-left 2px
            .projects
                position relative
                overflow: hidden
                height: 100%
                width: calc(var(--index-height) * 4 / 3)
                padding: .3rem 0
                cursor pointer
                span
                    height 100%
                    width: 100%
                    background-size: 100% !important
                    background-repeat: no-repeat !important
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                .title
                    position absolute
                    bottom: 0
                    left: 0
                    background: white
                    padding .3rem .3rem .1rem .3rem

.container *::-webkit-scrollbar 
  display: none;

.container > *
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */