@import '../../../styles/_variables'

.wrapper
    position fixed
    top: 0
    left 0
    height 100vh
    width: 100vw
    transition opacity 0.5s
    @media _small
        height: -webkit-fill-available;
    &.blur
        opacity 0.1

.datenschutz
    position fixed
    bottom 380px
    left 50vw
    width: 25vw
    background: var(--benj-yellow)
    padding: 1rem
    padding-right 3.2rem
    opacity 0
    transition: opacity 0.5s
    &.active
        opacity 1
    @media _small
        bottom 200px
        width: 50vw
    .titleDaten
        small_font-alt()
        padding-bottom 0.2rem
        color: black
    .closeButton
        position absolute
        right 1rem
        top 1rem


.container
    position fixed
    top: 0
    left 0
    display: flex
    flex-direction: column
    height 100vh
    width: 100vw
    background: white
    transition: opacity 0.5s
    @media _small
        height: -webkit-fill-available;
    &.blur
        pointer-events: none
    .colorRectContainer
        height: 22px
        display: flex
        justify-content: space-around
        @media _small
            height: 10px
            width: 200%
        div
            width: 100%
            background var(--benj-gray)
        :nth-child(5)
        :nth-child(2)
        :nth-child(11)
        :nth-child(8)
            opacity 66%
        :nth-child(6)
        :nth-child(3)
        :nth-child(12)
        :nth-child(9)
            opacity 33%
        :nth-child(4)
        :nth-child(5)
        :nth-child(6)
        :nth-child(10)
        :nth-child(11)
        :nth-child(12)
            background var(--benj-yellow)
    .title
        color var(--benj-yellow)
        width: 100%
        display: flex
        align-items: flex-start
        p
            padding var(--padding--element)
            padding-top 7.5rem
            padding-left 1.4rem 
            padding-right 1.4rem 
            padding-bottom 1.4rem 
            background var(--benj-gray)
            title_font()
            width: 50%
            flex-shrink: 1
            @media _small
                padding 2rem .5rem .5rem .5rem
    .galerie
        position relative
        display: flex
        height: calc(100% - 380px)
        width: 100vw
        overflow-x: scroll;
        overflow-y: hidden;
        overscroll-behavior none
        @media _small
            height: calc(100% - 200px)
        .next
        .last
            position fixed
            top calc((100% - 380px) / 2 )
            left 0
            background-color: var(--benj-yellow)
            z-index 1000
            padding: 0.4rem
            margin: auto
            display: flex
            cursor: pointer
            @media _small
                display: none
            &:hover
                background-color: white
        .next 
            right 0
            left: unset
        .inactive
            opacity 0.5
            &:hover
                background-color: white
        .link
            .projects
                position relative
                height: 100%
                padding 0.8rem 0.4rem
                @media _small
                    width: 60vw 
                    overflow: hidden
                .imageFilterWrapper > img
                    filter: url(#yellow-blue-acid);
                .imageWrapper > img
                    @media _small
                        object-fit: cover; /* Do not scale the image */
                        width: 60vw !important
                .imageWrapper
                    position absolute
                    height: calc(100% - 1.6rem)
                    cursor pointer 
                .imageFilterWrapper
                    height: 100%    
                    transition: opacity 0.1s
                    opacity 1
                    cursor pointer
                    @media _small
                        opacity 0
                        display none
                    @media _desktop
                        &:hover
                            cursor pointer
                            opacity 0
                            // filter grayscale(0)
                .image > span
                    height: 100%
                .titleProjects
                    small_font-alt()
                    z-index: 90
                    position absolute
                    top: 0
                    left: 0
                    background: white
                    color: black
                    padding .5rem 1rem .1rem .5rem