@import '../../../styles/_variables'


.container
    position fixed
    overflow: hidden
    left: 0 
    bottom 0
    height: 100vh
    width: calc(100vw - (max(25vw, 400px) + calc((100vw - max(25vw, 400px)) / 3)))
    min-width calc(max(900px, 75vw / 3 + 100px))
    z-index 500
    display: flex
    flex-direction: column
    justify-content: end
    pointer-events: none
    transform: translateY(100%)
    transition: all 0.5s
    @media _small
        width: 100vw
        min-width none
        height: -webkit-fill-available
        overflow: scroll
    &.active
        transform: translateY(0)
    .header
        height: 45px
        border-right solid black 1px
        flex-shrink: 0
        pointer-events: all
        small_font-alt()
        background-color: var(--benj-yellow)
        @media _small
            width: 100vw
            border 0
        .title
            display flex
            justify-content: space-between
            padding .2rem 0.5rem
            height: 50%
            .closeButton
                padding: 0.3rem
                &:hover
                    background-color var(--benj-gray) 
        .nav
            display flex
            height: 50%
            .navItem
                padding .2rem 0.5rem
                width: 50%
                &:hover
                    background-color var(--benj-gray) 
                &.active
                    background-color white
    .site
        flex-shrink: 1
        pointer-events: all
        display flex
        justify-content: space-between
        background-color: white
        gap: var(--padding)
        padding: var(--padding)
        padding-top 9rem
        max-height: calc(100% - 45px)
        transition: all 0.5s
        border-right solid black 1px
        @media _small
            width: 100vw
            flex-direction: column
            overflow-y scroll
            overflow-x hidden 
            padding-bottom 20rem
            padding-top 3rem
            border 0
        .left
            flex-shrink: 1
            width: calc(100% - 100px)
            max-width 950px
            .imageWrapper
                width 100%
                img
                    width: 100% 
                    object-fit contain
        .right
            width: 100px
            flex-shrink 0
            display: flex
            flex-direction: column
            gap: 3rem
            .impressumButton
                position absolute
                bottom: var(--padding)
                small_font-alt()
            .impressum
                position absolute
                transition: transform 0.5s
                padding:  var(--padding)
                background-color: white
                height: 100%
                width: 34%
                transform: translateY(100%)
                &.active
                    transform: translateY(0)
                .closeButton
                    position absolute
                    top: var(--padding)
                    right: var(--padding)

