
@font-face
  font-family 'Walter'
  src url('../assets/Typefaces/ABC_Walter_Alte/ABCWalterAlte-Roentgentherapie.eot')
  src url('../assets/Typefaces/ABC_Walter_Alte/ABCWalterAlte-Roentgentherapie.eot?#iefix') format('embedded-opentype'),
      url('../assets/Typefaces/ABC_Walter_Alte/ABCWalterAlte-Roentgentherapie.woff2') format('woff2'),
      url('../assets/Typefaces/ABC_Walter_Alte/ABCWalterAlte-Roentgentherapie.woff') format('woff'),
      url('../assets/Typefaces/ABC_Walter_Alte/ABCWalterAlte-Roentgentherapie.ttf') format('truetype')
  font-weight 400
  font-style normal


@font-face
  font-family 'Suisse Mono S'
  src url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebS.eot')
  src url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebS.eot?#iefix') format('embedded-opentype'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebS.woff2') format('woff2'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebS.woff') format('woff'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebS.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Suisse Mono XL'
  src url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebXL.eot')
  src url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebXL.eot?#iefix') format('embedded-opentype'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebXL.woff2') format('woff2'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebXL.woff') format('woff'),
      url('../assets/Typefaces/Suisse_Intl_Mono/SuisseIntlMono-Thin-WebXL.ttf') format('truetype')
  font-weight 400
  font-style normal