// _phone_small = '(max-width: 374px)'
// _phone = '(max-width: 767px)'
// _phone_and_tablet_portrait = '(max-width: 1023px)'
// _tablet_portrait = '(min-width: 768px) and (max-width: 1023px)'
// _desktop_small = '(min-width: 1024px) and (max-width: 1200px)'
// _desktop = '(min-width: 1201px) and (max-width: 1400px)'
// _desktop_and_desktop_small = '(min-width: 1024px) and (max-width: 1400px)'
// _desktop_medium = '(min-width: 1401px) and (max-width: 1500px)'
// _desktop_large = '(min-width: 1501px)'
// _desktop_all = '(min-width: 920px)'

_desktop = '(min-width: 920px)'

_small = '(max-width: 920px)'

:root
  --black #222
  --white white
  --faded rgba(0,0,0,.24)
  --benj-gray #E6E6E6
  --benj-gray-dark #969696
  --benj-yellow #F0FF7A


  // var(--tile-size) = unquote("calc((100vw / 32) * 4)")
  --padding 1rem
  --padding-element 1rem
  --padding-element-row 0rem 0.5rem
  --padding-element-container 0rem 0.5rem
  --tile-size 12em
  --tile-row-count 4

  --height-footer 3.3rem 
  --height-body calc(100vh - var(--height-footer))
  --index-height 270px

  --border 0.5px solid black
  --border-light 1px solid var(--benj-gray-dark)

  --font 'Walter'
  --font-alt 'Suisse Mono S'



@media _desktop
  :root
    //
@media _small
  :root
    --height-footer 3.8rem 
    --index-height 180px
@media print
  :root
    --tile-row-count 4
    --print-width calc((100vw - var(--padding)*2))
    --tile-size calc((var(--print-width) - var(--padding)*1) / var(--tile-row-count))

ellipsis($numlines=1,$font-size=1em,$line-height=1.3em)
  overflow hidden
  if $font-size!=0 && $line-height!=0 && $numlines!=0
      position relative
      display block
      display -webkit-box
      -webkit-box-orient vertical
      font-size $font-size
      line-height $line-height
      // height $font-size*$line-height*$numlines
      -webkit-line-clamp $numlines
      // &:after
      //     position absolute
      //     bottom 0
      //     left 0
      //     content '\2026'
  else
      text-overflow ellipsis
      white-space nowrap



tiny_font()
  @media _desktop
    font 1.3rem/1.2 var(--font)
    letter-spacing .0em
    font-weight 400
  @media _small
    font 1.3rem/1.2 var(--font)
    letter-spacing .02em
    font-weight 400


tiny_font_alt()
  @media _desktop
    font 1.1rem/1.2 var(--font-alt)
    letter-spacing .05em
    font-weight 200
    text-transform: uppercase
  @media _small
    font 1.1rem/1.2 var(--font-alt)
    letter-spacing .05em
    font-weight 200



label_font()
  @media _desktop
    font 1.3rem/1.4 var(--font-alt)
    letter-spacing .0em
    font-weight 300
    text-transform: uppercase
  @media _small
    font 1.1rem/1.3 var(--font-alt)
    letter-spacing .0em
    font-weight 300
    text-transform: uppercase

small_font()
  @media _desktop
    font 1.65rem/1.15 var(--font)
    letter-spacing .01rem
    font-weight 300
  @media _small
    font 1.65rem/1.15 var(--font)
    letter-spacing .01rem
    font-weight 300


small_font-alt()
  @media _desktop
    font 1.3rem/1.3 var(--font-alt)
    letter-spacing .01rem
    font-weight 300
    text-transform: uppercase
  @media _small
    font 1.35rem/1.3 var(--font-alt)
    letter-spacing .01rem
    font-weight 300
    text-transform: uppercase

medium_font()
  @media _desktop
    font 2.8rem/1.2 var(--font)
    letter-spacing .03em
  @media _small
    font 2.4rem/1.2 var(--font)
    letter-spacing .03em



medium_font-alt()
  @media _desktop
    font 3rem/1.2 var(--font-alt)
    letter-spacing .03em
  @media _small
    font 1.8rem/1.2 var(--font-alt)
    letter-spacing .03em


title_font()
  @media _desktop
    font  5rem/0.95 var(--font)
    letter-spacing -.1rem
    font-weight 300
  @media _small
    font 4.8rem/1 var(--font)
    letter-spacing -.15rem
    font-weight 300


large_font()
  @media _desktop
    font  5rem/0.95 var(--font)
    letter-spacing -.1rem
    font-weight 300
  @media _small
    font 2.7rem/1 var(--font)
    letter-spacing .01rem
    font-weight 300