@import '_core'
@import '_fonts'
@import '_variables'

a
  color var(--black)
  text-decoration: none

::-webkit-scrollbar 
  display: none;



* 
  overscroll-behavior: none
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  hyphens auto
  -webkit-user-select: none !important; /* Safari */
  -ms-user-select: none !important; /* IE 10 and IE 11 */
  user-select: none !important; /* Standard syntax */

#body
  background-color var(--white)
  // background-color var(--black)
  display flex
  flex-direction column
  height 100vh
  width: 100vw
  overflow: hidden
  small_font()
  @media _small
    height: -webkit-fill-available;
  
  // @media _phone
  //   padding var(--padding)

  .big_font
    large_font()

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

// Transiitons

.siteTrans-enter {
  opacity: 0;
}
.siteTrans-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.siteTrans-exit {
  opacity: 1;
}
.siteTrans-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.link
  width: 100%
  display flex
  justify-content: space-between
  &:hover
    opacity 0.6 