@import '_core'
@import '_fonts'
@import '_variables'

a
  color var(--black)
  text-decoration: none

::-webkit-scrollbar 
  display: none;



* 
  overscroll-behavior: none
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  hyphens auto

#body
  background-color var(--white)
  // background-color var(--black)
  display flex
  flex-direction column
  height 100vh
  width: 100vw
  overflow: hidden
  small_font()
  
  // @media _phone
  //   padding var(--padding)

  .big_font
    large_font()

.duoTone
  background-color white

.duoTone img 
  transition: opacity .3s
  filter: grayscale(100%) contrast(1)
  mix-blend-mode: multiply
  opacity: 100 
  opacity 0.6
  
.duoTone:hover img 
  filter: grayscale(100%) contrast(1) 
  opacity 1


.duoTone::before 
  transition: all .3s
  background-color: red
  bottom: 0
  content: ''
  left: 0
  mix-blend-mode: lighten
  position: absolute
  top 0.5rem
  left 0.5rem
  width: calc(100% - 2 * 0.5rem)
  height: calc(100% - 2 * 0.5rem)
  z-index: 1
  opacity 0.5

.duoTone:hover::before
  background-color: var(--benj-yellow)
  opacity 0.5


details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}