@import '../../../../../styles/_variables'

.accordion
    height: 0px
    overflow: scroll
    max-height: 100%
    &.open
        max-height: 70%
    .info
        margin-left: 3rem
        padding: 0.3rem 0
        border-top: solid black 0.5px
        tiny_font_alt()
