@import '../../styles/_variables'

.container
    nav 
        small_font-alt()
        cursor: pointer
        width: calc(75vw - 1rem)
        max-width: calc(100vw - 400px)
        position: fixed
        bottom: 0
        left: 0 
        padding-right: 0.5rem
        z-index 80
        padding-top 1rem
        height var(--height-footer)
        background: white
        z-index 50
        @media _small
            max-width: none
        > div
        > a
            height 100%
            width: calc(33.333333333% - 02rem)
            position absolute
            border-left: var( --border-light)
            padding-left var(--padding-element)
            display: flex
            text-decoration: none
            margin-left 0.5rem
            padding-left:  0.5rem
            transition: left 0.5s
            background: white
            &:hover
                color: var(--benj-gray-dark)
                border-color: var(--benj-gray-dark)
            &.home
                left: 0
                &.hidden
                    left: -33.33333334%
                    @media _small
                        left: -33vw
            &.index
                left 66.66666667%
                @media _small
                    left: calc(50vw - 1rem)
            &.about
                &.left
                    left 0%
                &.right
                    left 33.3333333%
                    @media _small
                        left: calc(25vw - 1rem)
            
